<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="form-inline">
        <div class="form-group">
          <label for="content-field" class="sr-only"></label>
          <input type="text" id="content-field" class="form-control" placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="content">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
      </form>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let task of tasks" [task]="tasks"></app-card>
  </div>
</div>