<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #taskForm="ngForm" class="form-inline" (ngSubmit)="addTask()">
        <div class="form-group">
          <label for="content-field" class="sr-only"></label>
          <input #contentField type="text" id="content-field" class="form-control" placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="content" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
      </form>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let task of tasks" [task]="task"></app-card>
  </div>
</div>