.card,
.card-footer {
  background-color: #ffffa5;
  border: none;
}

.card {
  border-radius: 0;
}

.card.completed,
.card.completed .card-footer {
  color: #ccc;
  background-color: #eee;
}

.card-footer {
  text-align: right;
}

i {
  color: #c00;
  padding-right: .5rem;
}
