.card,
.card-footer {
  background-color: #ffffa5;
  border: none;
}

.card {
  border-radius: 0;
  cursor: pointer;
  position: relative
}

.hidden {
  display: none;
}

.card-block i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #000;
}

.card.completed,
.card.completed .card-footer,
.card.completed i {
  color: #ccc;
  background-color: #eee;
}

.card-footer {
  text-align: right;
}

i {
  color: #c00;
  padding-right: .5rem;
}
